
header {
	background-color: #33cc33;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 300px;
	padding-right: 300px;
	width: auto;
	display: grid;
	grid-area: header;
}

image {
	border-radius: 50%;
	position: center;
}

p {
	text-align: justify;
}

.edu {
	border-bottom-width: 5px;
}

.eduHeading .skillsHeading .workExpHeading {
	font-weight: bold;
	text-transform: uppercase;
}

.innerBox {
	text-align: center;
	border: 5px solid white;
	color: white;
}

.mainContent {
	display: grid;
	grid-area: main;
	padding: 20px;
	width: 300px;
	height: 1000px;
	float: right;
}

.profilePic {
	text-align: center;
}

.sideBar {
	display: grid;
	background-color:  #e0e0d1;
	grid-area: menu;
	margin-left: 60px;
	margin-top: 30px;	
	padding: 20px;
	width: 600px;
	height: 1000px;
}


.word-left {
	font-weight: bold;
}

.word-right {
	float: right;
	font-weight: bold;
}

.workSpace {
	display: grid;
	grid-template-areas: 'header header header header'
	'menu main main main';
}


